// Сетка
$gutter: 15px;
$site-width: 1010px;

$font: "Segoe UI";

// breakpoints
$sm: 320px;
$md: 768px;
$lg: 1010px;

// Colors
$herbal: #5eab4c;
$white: #fff;
$black-olive: #333;
$gray-umber: #2e2e2e;
$smoky-white: #efefef;
$signal-black: #282828;
$very-light-gray: #e8e8e8;
$flame-red: #a1271d;
$black: #000;
$dark-gray: #878787;
$very-dark-lemon-green: #1a5b0b;
$font-black: $signal-black;
