//- Базовая разметка страницы
mixin base-page(page)
    doctype html
    html(lang = "ru")
        head
            include ../meta/_head
        body
            include ../components/_header
            if block
                block
            include ../components/_footer
            include ../meta/_scripts