.container
    .row
        +b.HR.separator
        +b.news
            +e.H2.title Новости
            +b.news-grid
                +b.news-block
                    +e.P.date 25.05.2010
                    +e.P.text ВНИМАНИЕ! Частично изменились телефоны <br> нашей организации: 527-72-14; 612-15-01; 612-15-02
                +b.news-block.hidden
                    +e.P.date 09.09.2009
                    +e.P.text Рады сообщить, что ассортимент нашей продукции пополнился!
                +b.news-block
                    +e.P.date 19.10.2009
                    +e.P.text Ассортимент нашей продукции вновь пополнился!
                +b.news-block.hidden
                    +e.P.date 16.09.2008
                    +e.P.text Дизайн нашего сайта изменился. Надеемся, что он стал ещё более удобным и полезным для Вас!