.container
    .row
        +b.request
            +e.BUTTON(type="button.js-open-modal").btn ОСТАВИТЬ ЗАЯВКУ
            +e.description Оставьте заявку и наш специалист свяжется с вами для уточнения деталей