-
    var navMenu=[
    {
        link: 'index.html',
        title: 'О компании'
    },
    {
        link: 'catalog.html',
        title: 'Продукция'
    },
    {
        link: 'news.html',
        title: 'Новости'
    },
    {
        link: '#',
        title: 'Контакты'
    }
    ];